# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://mbx:nopassword123!@localhost:5432/pebblesbali?schema=public"

# Auth credentials (change these!)
AUTH_EMAIL="admin@pebblesbali.com"
AUTH_PASSWORD="admin123"

# App port (used by devServer in dev, and Nitro in production)
PORT=3000

# Public site URL (used for sitemap, Open Graph, canonical URLs)
NUXT_PUBLIC_SITE_URL="https://pebblesbali.com"
# OCS Workspace Integration
NUXT_OCS_URL="http://localhost:3000"
NUXT_OCS_API_KEY="ocs_d9ad3b1b97b4eff5a87e26313d7c472e27557e404957d9109af0b021756befb7"
NUXT_OCS_CONNECTION_ID="b72f68d3-c6f1-4937-852e-285d667c4073"
NUXT_OCS_PROJECT_ID="e6c3c19d-1f45-4634-999d-8de5ca0f6d43"
