# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://mbx:nopassword123!@localhost:5432/pebblesbali?schema=public"

# Auth credentials (change these!)
AUTH_EMAIL="admin@pebblesbali.com"
AUTH_PASSWORD="admin123"

# App port (used by devServer in dev, and Nitro in production)
PORT=3000

# Public site URL (used for sitemap, Open Graph, canonical URLs)
NUXT_PUBLIC_SITE_URL="https://pebblesbali.com"
# OCS Workspace Integration
NUXT_OCS_URL="http://localhost:3000"
NUXT_OCS_API_KEY="ocs_0a64d55cf7dfac439138d42bffd0e37f61f16f33bdc309cdb1eb917be9cf695a"
NUXT_OCS_CONNECTION_ID="1a499e07-4a11-4261-8bf1-b457df47a8ab"
NUXT_OCS_PROJECT_ID="0dc3801d-67ee-420f-bbb1-989fabafed2f"
